.center {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 5% auto;
}

@media (max-width: 768px) {
    .center {
        margin: 35% auto;
    }
}